.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* BOTÓN INSTAGRAM */
.btn-instagram {
    background-color: #E1306C; /* color Instagram */
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 18px; /* tamaño del texto */
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-instagram:hover {
    background-color: #C13584;
}

/* LOGO */
.logo-web {
    width: 250px; /* achica o agranda acá */
    height: auto;
}
.soluciones p{
font-style: italic;
font-size: 20px;
}
body {
    background-color: #fdf6ed;
}
@media (max-width: 768px) {

    .soluciones p {
        font-size: 18px;
        font-style: italic;
    }
    .vamos h2 {
        color: gray;
    }
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }
 
    .logo {
        order: 1;
        margin-bottom: 15px;
    }
    .btn-instagram {
        order: 2;
   }
}